{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}

{% block content %}
    <div class="module">
        <table id="model_permission" class="table">
            <thead>
                <tr>
                    <th>Model</th>
                    <th>Can View</th>
                    <th>Can Add</th>
                    <th>Can Change</th>
                    <th>Can Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for model in models %}
                    <tr>
                        <td>{{ model.name }}</td>
                        <td><input type="checkbox" name="can_view_{{ model.name }}" /></td>
                        <td><input type="checkbox" name="can_add_{{ model.name }}" /></td>
                        <td><input type="checkbox" name="can_change_{{ model.name }}" /></td>
                        <td><input type="checkbox" name="can_delete_{{ model.name }}" /></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <input type="submit" value="Update Custom Permissions" />
    </div>
</form>
{% endblock %}
